---cson
layout: 'deck_slides_img'
title: "More Dead Horse"
description: "Continues the discussion of how to translate English sentences involving a combination of universal and existential quantifiers into Logiya with an example, 'There is a store for everything.'  Also discusses structural ambiguities related to quantifier scope and how to use Logiya to pin down this sort of ambiguity."
tags: ['quantification','semantics','translation']
depends: ['560']
source: ['ph126 lecture 13']
duration: 10
book: ['11.4','11.5']
exercises: []
exercises_fast: []
---

