---cson
layout: 'deck_slides_img'
images: 'unit_09'
title: "Complex Truth Tables"
description: "Illustrates how to construct complex truth-tables with an example, the truth-table for (P and Q) or R."
tags: ['truth-tables']
depends: []
source: ['ph126 fastlecture 01']
---
