---cson
layout: 'deck_slides_img'
images: 'unit_029'
title: "Terminology"
description: "Step through the definition of a logically valid argument.  Quick run through the terms sentence, name and predicate."
tags: ['definitions']
depends: []
source: ['ph126 fastlecture 01']
---
