---cson
layout: 'deck_slides_img'
images: 'unit_151'
title: "A ∧ B ∨ C"
description: "Distinguishes lexical from structural ambiguity.  Asks how we can know there is no structural ambiguity in our formal language Logiya."
tags: ['proof','syntax']
depends: ['unit_071']
source: ['ph133 lecture 03']
duration: 2
---
