---cson
layout: 'deck_slides_img'
images: 'unit_282'
title: "¬Intro continued"
description: "Completes the proof used to illustrate ¬Intro."
tags: ['proof']
depends: ['unit_281']
source: ['ph126 lecture 06']
duration: 3
---
