---cson
layout: 'deck_slides_img'
title: "Every Time I Go to the Dentist Someone Dies"
description: "Discusses translating English sentences involving obscured quantifiers into Logiya with an example."
tags: ['quantifiers','translation']
depends: ['560']
source: ['ph126 lecture 14']
duration: 5
book: ['11.2']
exercises: []
exercises_fast: []
---

