---cson
layout: 'deck_slides_img'
images: 'unit_391'
title: "→Intro: An Example"
description: "Discusses (but does not complete) a relatively hard proof involving the rule →Intro.  The proof is from premise A∨B to conclusion ¬B→A."
tags: ['proof','proof-example']
depends: ['']
source: ['ph126 lecture 05']
duration: 4
---
