---cson
layout: 'deck_slides_img'
title: "Variables"
description: "Explains the role of variables in the formal language Logiya.  Stresses that translations into English should not mention variables (e.g. 'there is an x such that ...' does *not* count as English for the purposes of this course)."
tags: ['translation','syntax'] 
depends: []
source: ['ph126 fastlecture 06']
---
