---cson
layout: 'deck_slides_img'
images: 'unit_502'
title: "Vegetarians Are Evil"
description: "Practices translating an English argument involving quantifers into Logiya."
tags: ['quantification']
depends: ['unit_501']
source: ['ph126 lecture 08']
duration: 5
book: ['9.2','9.3','9.5']
exercises: []
exercises_fast: []
---

