---cson
layout: 'deck_slides_img'
images: 'unit_283'
title: "¬Intro Proof Example"
description: "Discusses an intermediate proof involving ¬Intro."
tags: ['proof']
depends: ['unit_281']
source: ['ph126 lecture 07']
duration: 4
---
