---cson
layout: 'deck_slides_img'
images: 'unit_700'
title: "What does ‘→’ mean?"
description: "Shows how to derive a truth table for → from the rules of proof for →, →Intro and →Elim."
tags: ['semantics'] 
depends: ['unit_390']
source: ['ph126 fastlecture 04', 'ph133 lecture 05']
duration: 7
book: ['7.1']
exercises: ['7.1','7.2','7.3','7.4','7.5','7.6']
exercises_fast: ['7.2','7.5','7.6']
---
