---cson
layout: 'deck_slides_img'
images: 'unit_02'
title: "Quick Intro to Logiya (‘FOL’)"
description: "Gives some examples of the formal language Logiya (called 'FOL' in the textbook) and explains their relation to ordinary English.  Also explains terms like 'name' and 'predicate'."
tags: ['definitions']
depends: []
source: ['ph126 lecture 01']
---
