---cson
layout: 'deck_slides_img'
title: "Truth for ∃"
description: "Revises the procedure for determining the truth of sentences containing ∃ and explains how it applies to an example involving multiple quantifiers."
tags: ['semantics','revision','quantifiers'] 
depends: ['471','740']
source: ['ph126 lecture 11']
duration: 7
book: ['']
exercises: []
exercises_fast: []
---
