---cson
layout: 'deck_slides_img'
images: 'unit_820'
title: "Proof Example: ¬P∨R therefore P→R"
description: "Describes how to prove ¬P∨R therefore P→R."
tags: ['proof','revision','proof-example']
depends: ['unit_280']
source: ['ph126 lecture 08']
duration: 9
---
