---cson
layout: 'deck_slides_img'
title: "Relations and the Limits of Logic"
description: "We can't prove that LeftOf is a transitive relation using our system of proof, Fitch.  Does this tell us something about the limits of logic?"
tags: ['relations']
depends: ['120','125']
source: ['ph126 lecture 11']
duration: 3
book: []
exercises: []
exercises_fast: []
---

