---cson
layout: 'deck_slides_img'
images: 'unit_152'
title: "A ∧ B ∨ C: the Truth-tables (quick version)"
description: "Whiz through truth tables for (A ∧ B) ∨ C and A ∧ (B ∨ C)."
tags: ['truth-tables']
depends: ['unit_151']
source: ['ph126 fastlecture 02']
duration: 2
---
