---cson
layout: 'deck_slides_img'
title: "Why Logic? (Reprise)"
description: "Points out limits on what can be understood through logic.  Argues that dissatisfaction is good.  Mentions further logic and logic-related modules."
tags: [] 
depends: ['011']
source: ['ph126 lecture 11']
duration: 5
book: ['']
exercises: []
exercises_fast: []
---
