---cson
layout: 'deck_slides_img'
title: "More Records Than the KGB"
description: "Identifies a problem translating some sentences involving comparisons into our formal language, Logiya."
tags: ['quantification','translation']
depends: ['470']
source: ['ph126 lecture 15']
duration: 10
book: ['14.1','14.3']
exercises: []
exercises_fast: []
---

