---cson
layout: 'deck_slides_img'
images: 'unit_221'
title: "∨Elim: An Example"
description: "Illustrates the use of ∨Elim, a rule of proof."
tags: ['proof']
depends: []
source: ['ph133 lecture 04', 'ph126 fastlecture 03']
duration: 10
---
