---cson
layout: 'deck_slides_img'
images: 'unit_213'
title: "Translating a Simple Argument"
description: "Illustrates how to translate an argument from English into our formal language Logiya."
tags: ['translation']
depends: ['unit_211']
source: ['ph133 lecture 03']
duration: 4
---
