---cson
layout: 'deck_slides_img'
images: 'unit_230'
title: "The Syntax of Logiya"
description: "States the rules of syntax for Logiya.  Illustrates these with tree diagrams.  Links to truth tables."
tags: ['syntax']
depends: ['unit_170']
source: ['ph126 lecture 06']
duration: 12
book: []
exercises: []
exercises_fast: []
---
