---cson
layout: 'deck_slides_img'
images: 'unit_01'
title: 'The Pigs of Logic'
tags: ['definitions']
description: "Explains the notion of a logically valid argument with an illustration involving two pigs.  Previews key ideas coming later."
depends: []
source: ['ph126 lecture 01']
duration: 10
book: ['1.1','1.2','2.1']
exercises: []
exercises_fast: []
---
