---cson
layout: 'deck_slides_img'
title: "Proofs about Proofs"
description: "Explains how to prove proofs about proofs.  Examples include: (i) if A ⊢ B then ⊢ A → B, (ii) if A ⊢ B then A ⊢ ¬¬B"
tags: ['meta']
depends: ['']
source: ['ph126 lecture 13']
duration: 7
book: ['']
exercises: []
exercises_fast: []
---

