---cson
layout: 'deck_slides_img'
images: 'unit_711'
title: "Quantifiers Bind Variables"
description: "Illustrates how quantifiers bind variables (but does not define this).  Contrast ∀x(Square(x) → Blue(x)), all squares are blue, with ∀x Square(x) → ∀x Blue(x), if everything is square then everything is blue."
tags: ['semantics'] 
depends: ['unit_710']
source: ['ph126 fastlecture 05']
duration: 6
book: ['9.5','9.6']
exercises: []
exercises_fast: []
---
