---cson
layout: 'deck_slides_img'
images: 'unit_392'
title: "→Intro Proof Example"
description: "Discusses a simple proof involving →Intro, from premises P→Q and Q→R to conclusion P→R.  (This revises a proof that was done in unit_390.)"
tags: ['proof','proof-example']
depends: ['unit_390']
source: ['ph126 lecture 07']
duration: 4
---
