---cson
layout: 'deck_slides_img'
images: 'unit_492'
title: "What does ∀ mean?"
description: "Explains the meaning of ∀ with an example."
tags: ['semantics'] 
depends: ['unit_503']
source: ['ph126 lecture 08']
duration: 7
book: ['9.4']
exercises: []
exercises_fast: []
---
