---cson
layout: 'deck_slides_img'
images: 'unit_281'
title: "¬Intro"
description: "Introduction to the rule of proof ¬Intro with an illustration."
tags: ['proof']
depends: ['']
source: ['ph126 lecture 06']
duration: 10
book: ['5.3','6.3']
exercises: ['6.7', '6.8','6.24','6.25','6.26']
exercises_fast: ['6.7','6.8', '6.9', '6.10', '6.11', '6.12', '6.18', '6.19', '6.20', '6.24','6.25','6.26', '6.27', '6.40', '6.41', '6.42']
---
