---cson
layout: 'deck_slides_img'
title: "Truth-functional Connectives"
description: "Epxlains the notion of a truth-functional connective.  Discussion of why 'because' could not have a truth table."
tags: ['truth-tables','semantics']
depends: ['071']
source: ['ph126 fastlecture 02']
duration: 10
book: []
exercises: ['7.9']
exercises_fast: ['7.9']
---
