---cson
layout: 'deck_slides_img'
images: 'unit_504'
title: "All Squares Are Blue (Fast Version)"
description: "Looks at translating 'All squares and blue' and 'Some squares are blue' into Logiya using quantifiers."
tags: ['quantification']
depends: []
source: ['ph126 lecture 08', 'ph133 lecture 05', 'ph126 fastlecture 04', 'unit_504.pptx']
duration: 2
book: ['9.2','9.3','9.5']
exercises: []
exercises_fast: []
---

