/*
 * presentation style for steve presentations
 * based on deck.js neon style.
 */
@import nib

html
  overflow: hidden




/**
 * overwrite core defaults
 */
noinvert_text()
  color: white
  text-shadow: 0 0 2px black, 1px 1px 2px black, 1px -1px 2px black, -1px 1px 2px black, -1px -1px 2px black, 0 0 5px black, 0 0 5px black

invert_text()
  color: black
  text-shadow: 0 0 2px white, 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white, 0 0 5px white, 0 0 5px white

.deck-container
  font-size: 20pt
  padding: 0
  noinvert_text()

.deck-container .slide
  background: transparent

.deck-container p
  margin-bottom: 0.3em

.deck-container .invert
  invert_text()

.deck-container .noinvert
  noinvert_text()

/**
 * supposed to prevent reduced opacity for previous slide
 */
.deck-container > .slide .deck-before .nodim, .deck-container > .slide .deck-previous .nodim 
  opacity 1


.deck-container .slide .nodim
  opacity 1

.deck-container .slide .dim
  opacity 0.4


/**
 * avoid deck.core.css overwriting our 960 grid css
 */
div {
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
  }
}

// measurements are for 800px design width
div.container_12 {
	margin-left: 40px;
	margin-right: 40px;
	width: 720px;
}



/**
 * layout
 */
/* use div.words to wrap the text of every slide (but don't wrap background images) */
div.words
  padding-top: 40px

.deck-container .center
  text-align: center

.deck-container .right
  text-align: right

.deck-container .middle
  position: absolute
  left: 0
  right: 0
  top: 300px
  transform: translate3d(0, -50%, 0)

.deck-container .hem-above
  padding-top: 0.5em

.deck-container .em-above
  padding-top: 1em

.deck-container .half-above
  padding-top: 0.5em
  
.deck-container .em-above-p p
  padding-top: 1em

.deck-container .em-around-p p
  padding-top: 0.5em
  padding-bottom: 0.5em

.deck-container .no-below-p p
  padding-bottom: 0
  margin-bottom: 0

.deck-container .em-after
  padding-bottom: 1em

.deck-container .pad-left
  padding-left: 0.66em

.deck-container .pad-right
  padding-right: 0.66em

img.float-right {
  float: right
  margin-left: 1em
}


/**
 * fonts 
 */
.deck-container .small
  font-size: 12pt

.deck-container .big
  font-size: 30pt

.deck-container .huge
  font-size: 50pt

f_scale(x,y)
  transform:scale(x,y) // W3C 
  -webkit-transform:scale(x,y) // Safari and Chrome 
  -moz-transform:scale(x,y) // Firefox 
  -ms-transform:scale(x,y) /* IE 9 */
  -o-transform:scale(x,y) /* Opera */  

.stretch-2
  display: inline-block
  f_scale(1,2)

.stretch-5
  display: inline-block
  f_scale(2,5)

.stretch-6
  display: inline-block
  f_scale(2,6)

/*
 * tables
 */
.deck-container table
  noinvert_text()
td, .deck-container td 
  vertical-align: middle

.deck-container .invert table
  invert_text()


/**
 * lists
 */
.deck-container ul
  margin-left: 2em

.deck-container li
  display: list-item
  list-style: circle
  padding-bottom: 0.1em

.deck-container .center table
 margin 0 auto

table.truth-table
  border-collapse: collapse
  tr td
    padding 0.1em 0.6em //increase vertical and horizontal spacing for all lines
    text-align: center
  tr:first-child td
    border-bottom: 2px solid white  //left border for proof
  td.result-col
    border-left 2px solid white //horizontal line after premises

.invert table.truth-table
  tr:first-child td
    border-bottom: 2px solid black  //left border for proof
  td.result-col
    border-left 2px solid black //horizontal line after premises

.compress table.truth-table
  tr td
    padding 0em 0.3em //less vertical and horizontal spacing for all lines

 
table.fitch-proof
  border-collapse: collapse
  tr td
    padding 0.3em 0 //increase vertical spacing for all lines
  tr td:first-child
    border-left: 4px solid white  //left border for proof
    width: 20px
  tr td:nth-child(2)    //increase width of line numbers
    padding-right: 1em
  tr td:nth-child(4)
    padding-left: 2em   //space before rule of proof
  td.last-premise
    border-bottom 4px solid white //horizontal line after premises

.invert table.fitch-proof
  tr td:first-child
    border-left: 4px solid black //left border for proof
  td.last-premise
    border-bottom 4px solid black //horizontal line after premises

.compress table.fitch-proof
  tr td
    padding 0 //no vertical spacing for all lines


/**
 * dim, invisible
 */

.deck-container .dim
  opacity: 0.33

.deck-container .dim-very
  opacity: 0.16

.deck-container .invisible
  opacity: 0

.deck-container .hide
  visibility hidden

.deck-container .remove-me
  display none


/**
 * make part of the screen white (with black text)
 */
btm-white(height,top) 
  background-color: white
  float: left
  position: absolute
  top: top
  height:height
  width: 800px
  left: 0px
  invert_text()
  box-shadow: 0px -8px 8px 0 rgba(255,255,255,0.5)

.deck-container .bottom-white
  btm-white 225px, 375px
 
.deck-container .bottom-half-white
  btm-white 300px, 300px

.deck-container .bottom-third-white
 btm-white 200px, 400px


.deck-container .right-half-white
  background-color: white
  float: right
  position: absolute
  top:0px
  height:600px
  width: 400px
  left: 400px
  invert_text()

.deck-container .left-half-white
  background-color: white
  float: left
  position: absolute
  top:0px
  height:600px
  width: 400px
  left: 0px
  invert_text()


/**
 * highlight blocks
 * (configured so that highlights disappear if not current slide)
 */
.deck-container .deck-current .bkg-highlight-yellow
  background-color: rgba(255,248,61,0.5)
  box-shadow: 0 0 20px 15px rgba(255,248,61,0.5)

.deck-container .deck-current .bkg-white-row
  background-color: white
  box-shadow: 0 0 1px black, 0 0 1.5em white
  margin-left: -40em
  border-left: solid 40em white
  margin-right: -40em
  border-right: solid 40em white
  text-outline: 1px 2px red

.deck-container .bkg-grey-row
  background-color: rgba(255,255,255,0.6)
  box-shadow: 0 0 1px black, 0 0 0.5em white
  margin-left: -40em
  border-left: solid 40em rgba(255,255,255,0.3)
  margin-right: -40em
  border-right: solid 40em rgba(255,255,255,0.3)
  text-outline: 1px 2px red

.deck-container .invert .bkg-grey-row
  background-color: rgba(0,0,0,0.6)
  box-shadow: 0 0 1px white, 0 0 0.5em black
  margin-left: -40em
  border-left: solid 40em rgba(0,0,0,0.3)
  margin-right: -40em
  border-right: solid 40em rgba(0,0,0,0.3)
  text-outline: 1px 2px red


/**
 * transparent backgrounds
 */
.deck-container  .bkg-black-33
  background: rgba(0,0,0,0.33)
  box-shadow: 0 0 15px 64px rgba(0,0,0,0.33)
  


/**
 * highlight words -- just for one slide
 * (configured so that highlights disappear if not current slide)
 */
 
.deck-container .deck-current .words-highlight-red
  background-color: rgba(255,0,0,0.8)
  box-shadow: 0 0 15px 8px rgba(255,0,0,0.8)
  -webkit-box-shadow: 0 0 15px 8px rgba(255,0,0,0.8)
  -moz-box-shadow: 0 0 15px 8px rgba(255,0,0,0.8)
  border-radius: 5px


/**
 * highlight words -- permanent
 * (configured so that highlights disappear if not current slide)
 */
 
highlight-bkg(col)
  background-color col
  box-shadow 0 0 15px 8px col
  border-radius 5px
  //marging-right doesn't work in firefox  (margin-left does!)
  //margin-left: -10px
  //border-left: solid 10px  rgba(255,0,0,0.8)
  //margin-right: -10px
  //border-right: solid 10px  rgba(255,0,0,0.8)
  //outline: 5px solid rgba(255,0,0,0.8)
 
.deck-container .bkg-words-highlight-white
  highlight-bkg rgba(255, 255, 255, 1)

.deck-container .bkg-words-highlight-faint-white
  highlight-bkg rgba(255, 255, 255, 0.3)

.deck-container .bkg-words-highlight-blue
  highlight-bkg rgba(0, 128, 255,1)

.deck-container .bkg-words-highlight-faint-blue
  highlight-bkg rgba(0, 128, 255, 0.3)

.deck-container .bkg-words-highlight-pink
  highlight-bkg rgba(255, 111, 207,1)

.deck-container .bkg-words-highlight-faint-pink
  highlight-bkg rgba(255, 111, 207,0.3)

.deck-container .bkg-words-highlight-yellow
  highlight-bkg rgba(255, 255, 0, 1)

.deck-container .bkg-words-highlight-faint-yellow
  highlight-bkg rgba(255, 255, 0, 0.3)

.deck-container .bkg-words-highlight-red
  highlight-bkg rgba(255, 0, 0, 1)

.deck-container .bkg-words-highlight-faint-red
  highlight-bkg rgba(255, 0, 0, 0.3)

.deck-container .bkg-words-highlight-forestgreen
  highlight-bkg: rgba(34,139,34,1)

.deck-container .bkg-words-highlight-faint-forestgreen
  highlight-bkg: rgba(34,139,34,0.3)

.deck-container .bkg-words-highlight-olive
  highlight-bkg: rgba(128,128,0,1)

.deck-container .bkg-words-highlight-faint-olive
  highlight-bkg: rgba(128,128,0,0.3)

.deck-container .bkg-words-highlight-teal
  highlight-bkg: rgba(0,128,128,1)

.deck-container .bkg-words-highlight-faint-teal
  highlight-bkg: rgba(0,128,128,0.3)

.deck-container .bkg-words-highlight-lime
  highlight-bkg: rgba(0,255,0,1)

.deck-container .bkg-words-highlight-faint-lime
  highlight-bkg: rgba(0,255,0,0.3)

.deck-container .bkg-words-highlight-limegreen
  highlight-bkg: rgba(50,205,50,1)

.deck-container .bkg-words-highlight-faint-limegreen
  highlight-bkg: rgba(50,205,50,0.3)


/**
 * boxes
 */
.white-box
  background-color: white
  color: black
  padding: .25em !important
  text-shadow 0 0 2px #fff, 1px 1px 2px #fff, 1px -1px 2px #fff, -1px 1px 2px #fff, -1px -1px 2px #fff, 0 0 5px #fff, 0 0 5px #fff
  border-radius: 5px

.glow-border-red
  box-shadow: 0 0 15px 8px rgba(255,0,0,1), 0 0 18px 9px rgba(255,255,102,0.5)

/**
 * borders & rotation
 */
.deck-container .border-right
  border-right: 1px dotted white

.deck-container .rotate-1
  -moz-transform: rotate(1deg)
  -webkit-transform: rotate(1deg)

.deck-container .rotate--2
  -moz-transform: rotate(-2deg)
  -webkit-transform: rotate(-2deg)

.deck-container .circle_word
  border-radius: 1200px
  height: 120px
  max-width: 120px
  min-width: 120px
  border: 3px solid white
  text-align: center
  vertical-align: middle


/**
 * background images fill whole screen
 */
.deck-container img.bkg
  float: left
  height: auto
  position: absolute
  top: 0
  left: 0
  z-index: -1


/**
 * for title overwrite deck.core.css
 */
.csstransforms .deck-container h1,
.csstransforms .deck-container h2
  position: relative
  text-align: left
  color: white
  font-size: 45pt
  font-weight: bold
  top: auto
  -webkit-transform: none
  -moz-transform: none
  -ms-transform: none
  -o-transform: none
  transform: none
  padding: 0
  text-shadow: 0 0 2px black, 1px 1px 2px black, 1px -1px 2px black, -1px 1px 2px black, -1px -1px 2px black

.csstransforms .deck-container h2
  font-size: 30pt
  border-bottom: none
  margin-bottom: 0
  text-shadow: 0 0 2px black, 1px 1px 2px black, 1px -1px 2px black, -1px 1px 2px black, -1px -1px 2px black
  
.deck-container  .title-block
  background: linear-gradient(left, black, transparent)
  box-shadow: 0px 4px 2px -2px rgba(255,255,255,0.33), 0px -4px 2px -2px rgba(255,255,255,0.33)
  
.deck-container  .title-container
  padding-left: 2em
  padding-top: 0.25em
  padding-bottom: 0.25em

.csstransforms .deck-container .title1
  text-shadow: 0 0 2px black, 1px 1px 2px black, 1px -1px 2px black, -1px 1px 2px black, -1px -1px 2px black

.csstransforms .deck-container .title2
  margin-top: -0.5em
  text-shadow: 0 0 2px black, 1px 1px 2px black, 1px -1px 2px black, -1px 1px 2px black, -1px -1px 2px black

.deck-container .email, .deck-container .slide h3
  margin-top: -0.3em
  font-size: 30pt
  text-shadow: 0 0 2px black, 1px 1px 2px black, 1px -1px 2px black, -1px 1px 2px black, -1px -1px 2px black

/**
 * big layout
 */
.deck-container .container-right
  padding-left: 30%
  padding-right: 5%

.deck-container .container-right div
  text-align: right

.deck-container .huge-glow
  font-size: 90pt
  color: black
  text-shadow: 0 0 40px white, 0 0 20px white, 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white
  -webkit-text-shadow: 0 0 40px white, 0 0 20px white, 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white
  -moz-text-shadow: 0 0 40px white, 0 0 20px white, 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white
  padding-right: 10%

.deck-container .under-huge-glow
  padding-top: 0
  margin-top: -1em


