---
layout: 'default'
title: 'Fast Lecture 06'
weburl: ''
units: []
lecture_date: '2013/02/26'
---

include ../../fragments/slide_mixins

- var images = get_images('twins_2009')




.deck-container

  mixin title_slide({document:document, images:images})

  //- ----------------------------
  //- quantifier equivalances: semantics and proofs
  
  //- unit: quantifier equivalences: using propositional equivalences
  - var d = get_unit(760)
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- unit: quantifier equivalences: universal not existential
  - var d = get_unit(764)
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- *note related proofs of not-existential etc    
  
  //- ∃x Dead(x) ⊢ ¬∀x¬ Dead(x)
  - var d = get_unit(825)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
  
  //- ¬∀x Dead(x) ⊢ ∃x¬ Dead(x)
  - var d = get_unit(826)
    mixin section({unit:d, images:images})
    mixin render_unit(d)


  //- *feedback
  .slide
    .words: .grid_12: .container_12
      p Exam papers with answers: five sets are on the module web page.
      p More examples.


  //- ----------------------------
  //- numerical quantifiers

  //- *don't need unit 470 for fast lectures (this starts with a recap anyway)
  //- numerical quantifiers
  - var d = get_unit('620')
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- there is exactly one
  - var d = get_unit('625')
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- unit: More Dead Horse 
  - var d = get_unit(565)
    mixin section({unit:d, images:images})
    mixin render_unit(d)



  
  //- *todo check this
  //- unit: ∀Intro: An Incorrect Proof
  - var d = get_unit(572)
    mixin section({unit:d, images:images})
    mixin render_unit(d)




  //- unit: variables
  - var d = get_unit(600)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
  

  //- truth functional completeness
  //- unit: how big is truth table (for truth-functional completeness)
  - var d = get_unit(431)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
  - d = get_unit(430)
    mixin section({unit:d, images:images})
    mixin render_unit(d)


  //- *todo check not done in fastlecture 04 (was there as spare)
  //- unit: Does ‘if’ mean what ‘→’ means?
  - var d = get_unit(640)
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  
  
  //- -----------------------
  //- spare topics: hope this won't be needed

  