---
layout: 'default'
title: 'Fast Lecture 04'
weburl: ''
units: []
lecture_date: '2013/02/05'
---

include ../../fragments/slide_mixins

- var images = get_images('flowers')


//- *todo: bit slow for fast group --- also maybe no big points!  (Or was it just my mood in 2012-3)

.deck-container

  mixin title_slide({document:document, images:images})


  // *note: 700 and 340 are connected by 'meaning is use' issues'
  //- unit: what arrow means
  .slide
    p.middle.center What does ‘→’ mean?
  - var d = get_unit(700)
    mixin render_unit(d)

  //- unit: Fubar Rules
  - d = get_unit(340)
    mixin section({unit:d, images:images})
    mixin render_unit(d)  


  .slide
    p.middle.center No lectures or seminars in reading week (Week 6).
    

  //- unit: proof: ∃Elim 
  - d = get_unit(550)
    mixin section({unit:d, images:images})
    mixin render_unit(d)  

  //- unit: proof: ∀Intro
  - d = get_unit(570)
    mixin section({unit:d, images:images})
    mixin render_unit(d)  

  //- unit: summary of rules of proof
  - d = get_unit(575)
    mixin section({unit:d, images:images})
    mixin render_unit(d)  


  
  //- advertise logic options and the degree
  .slide#maths_phil_advert
    p.center.middle advert
  .slide
    img(src="/img/people/walt_s.jpg",width="300px",style="position:relative;top:230px;").float-right
    .words: .container_12: .grid_6
          ul
            li Logic II: Metatheory
            li Logic III: Incompleteness and Undecidability
            li Modal Logic
            li Philosophy of Logic
            li Philosophy of Mathematics
            li Philosophy of Computation
    .slide
      .right-half-white
        .words
          .container_12: .grid_5
              p 3 year BSc in Mathematics and Philosophy
              p.em-above 4 year BSc in Mathematics and Philosophy with specialism in Logic and Foundations


  //- unit: all squares are blue (fast version)
  - d = get_unit(504)
    mixin section({unit:d, images:images})
    mixin render_unit(d)  

  //- unit: What does ∀ mean?
  - d = get_unit(492)
    mixin section({unit:d, images:images})
    mixin render_unit(d)  

  
  
  //- compare and contrast formulae
  .slide#universal_arrow
    .words
      .container_12: .grid_6
        p ∀x( Square(x) ∧ Broken(x) )
        p ∀x( Square(x) → Broken(x) )
        p.step2.hide ∀x(  ¬Square(x) ∨ Broken(x) )
        .em-above
        p.step3.hide ∃x( Square(x) → Broken(x) )
        p.step4.hide ∃x( ¬Square(x) ∨ Broken(x) )
        p.step3.hide ∃x( Square(x) ∧ Broken(x) )
        mixin steps(4, '#universal_arrow')


  //- unit: scope and quantifiers
  - d = get_unit(710)
    mixin section({unit:d, images:images})
    mixin render_unit(d)  

  //- unit: translating sentences with quantifiers
  - d = get_unit(507)
    mixin section({unit:d, images:images})
    mixin render_unit(d)  

  //- unit: quantifiers: binding
  - d = get_unit(711)
    mixin section({unit:d, images:images})
    mixin render_unit(d)  


  .slide
    p.middle.center No lectures or seminars in reading week (Week 6).


  //- unit: State the subsitution theorem
  - d = get_unit(250)
    mixin section({unit:d, images:images})
    // prefix with reminder about demorgan (not actually done
    .slide#demorgan_recap
      .middle
        p A ∧ B ⫤⊨ ¬(¬A ∨ ¬B)
        p A ∨ B ⫤⊨ ¬(¬A ∧ ¬B)
        p A → B ⫤⊨ ¬A ∨ B
    mixin render_unit(d)
  
  
  // 2012-3 ended here
      
    //- unit: Something is above something
    - d = get_unit(740)
      mixin section({unit:d, images:images})
      mixin render_unit(d)
      
    //- unit: Two things are broken
    - d = get_unit(470)
      mixin section({unit:d, images:images})
      mixin render_unit(d)
  
  
    //- *hope not to have time for this (but it's a good one to end on)
    //- unit: Does ‘if’ mean what ‘→’ means?
  - var d = get_unit(640)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
  


