---
layout: 'default'
title: 'Fast Lecture 05'
weburl: ''
units: []
---

include ../../fragments/slide_mixins

//- *todo change images
- var images = get_images('flowers')




.deck-container

  mixin title_slide({document:document, images:images})


  //- *todo check not done in fastlecture 04 (was there as spare)
  //- unit: Does ‘if’ mean what ‘→’ means?
  - var d = get_unit(640)
    mixin section({unit:d, images:images})
    != d.contentRendered
  
