---
layout: 'default'
title: 'Fast Lecture 02'
weburl: ''
units: []
---

include ../../fragments/slide_mixins




//- **************************************************************************************************
//- * todo move the subproofs from lecture 03 to here or update exercises (see feedback in lecture 03)
//- **************************************************************************************************



- var images = get_images('sunset')



.deck-container
  // *notes This course is about the notion of logical Validity
  mixin title_slide({document:document, images:images})
 
  //- section: unit_211, unit_21 = formal proof 1
  - d = get_unit('211')
    mixin render_unit(d)
  - d = get_unit('21')
    mixin render_unit(d)

  //- unit: proof - compare conjunction intro with disjunction intro
  - d = get_unit('212')
    mixin section({unit:d, images:images})
    mixin render_unit(d)  

  section#exercises_warning.slide
    p.middle.center Fast track and normal seminars have 
      span.diff different exercises.
    .slide.anim-addclass(data-what=".diff", data-class="bkg-words-highlight-red")
  
  //- unit: rules for identity
  - d = get_unit('110')
    mixin section({unit:d, images:images})
    mixin render_unit(d)  
  
  //- unit: truth-functional connectives
  - d = get_unit('072')
    mixin section({unit:d, images:images})
    mixin render_unit(d)  
  
  //- unit: formal proof (identity again)
  - d = get_unit('111')
    mixin section({unit:d, images:images})
    mixin render_unit(d)  
  
  
  //- unit: A and B or C
  - d = get_unit('151')
    mixin section({unit:d, images:images})
    mixin render_unit(d)  
  - d = get_unit('152')
    mixin render_unit(d)
  - d = get_unit('154')
    mixin render_unit(d)
  
  //- unit: Ambiguity (elephant pyjamas)
  - d = get_unit('170')
    mixin section({unit:d, images:images})
    mixin render_unit(d)  

  //- didn't need in 2012-3  
    //- unit: Syntax for Logiya (hopefully won't have time: belongs in lecture 03)
    - d = get_unit('230')
      mixin section({unit:d, images:images})
      mixin render_unit(d)  
