---
layout: 'default'
title: 'Fast Lecture 01'
weburl: 'http://goo.gl/eksH8'
units: []
---

include ../../fragments/slide_mixins

- var images = get_images('bali')


.deck-container
  mixin title_slide({document:document, images:images})
 
  //- section: unit_029, unit_03
  - d = get_unit('029')
    mixin render_unit(d)
  - d = get_unit('03')
    mixin render_unit(d)
  
  //- unit: sentence letters
  - d = get_unit('012')
    mixin section({unit:d, images:images})
    mixin render_unit(d)  
  
  //- unit: counterexamples
  - d = get_unit('04')
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- unit: identity
  - d = get_unit('06')
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- unit: truth tables
  - d = get_unit('071')
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- unit: complex truth tables example
  - d = get_unit('09')
    mixin section({unit:d, images:images})
    mixin render_unit(d)


  //- unit: using truth-tables for validity
  - d = get_unit('14')
    mixin section({unit:d, images:images})
    section.slide
     .words
      p.middle.center We can use truth tables to establish that 
        br
        | some arguments are logically valid
    mixin render_unit(d)

  //- unit: tautologies and contradictions, logical validity is not what you think it is.
  //- omit title, treat as part of previous unit
  section.slide#unit_160
    p.middle.center Two more examples
  - d = get_unit('160')
    mixin render_unit(d)
  //- the Bush examples
  - d = get_unit('162')
    mixin render_unit(d)
    
  
  //- *todo add more stuff -- too short in 2012/3

  a.deck-permalink(href='.', title='Permalink to this slide') #
