---
layout: 'default'
title: 'Lecture 02'
weburl: ''
units: []
---

include ../../fragments/slide_mixins

- var images = get_images('sweeden')


.deck-container
  mixin title_slide({document:document, images:images})

 
  //- unit_013: learning objectives
  - d = get_unit('013')
    mixin render_unit(d)



  // -------------------
  // *this might be in lecture 01!
  //- counterexamples & sound argument
  - d = get_unit('04')
    mixin section({unit:d, images:images})
    mixin render_unit(d)  

  //- unit (minor): sound argument
  section#unit_041.slide
    .words
      p.middle.center sound argument
  .slide
    mixin df_sound_argument()
    .slide
      mixin df_valid()
    .slide
      .words
        div.middle.center
          table.fitch-proof
            tr
              td
                span.first-premise &#8203;
              td 1.
              td All humans are staplers.
              td
            tr
              td.last-premise
              td 2.
              td I am a human.
            tr
              td
                // span.bkg-grey-row &#8203;
              td 3.
              td I am a stapler.
      .slide.anim-addclass(data-what=".first-premise",data-class="bkg-grey-row")
      .slide.anim-removeclass(data-what=".first-premise",data-class="bkg-grey-row")
      .slide
        div.white-box(style="width:230px;position:absolute;top:20px;left:500px;")
          p(style="padding: 0 0.3em;") An argument is 
            strong logically valid 
            | just if there's no possible situation in which the premises are true and the conclusion false.

  - d = get_unit('041')
    mixin render_unit(d)  


  // -------------------
  // (could use to start if not starting this lecture with counterexapmles!)
  //
    //- recap: validity and counterexamples 
    - d = get_unit('05')
      mixin render_unit(d)




  //- unit: sentence letters
  - d = get_unit('012')
    mixin section({unit:d, images:images})
    mixin render_unit(d)  
  
  //- unit: truth tables
  - d = get_unit('071')
    mixin section({unit:d, images:images})
    mixin render_unit(d)  

  //- postsecret quiz: logically valid arguments
  - each d in getCollection("documents").findAll({url:'/quizes/postsecret_01.html'},[{year:-1,sort_order:1}]).toJSON()
    mixin render_unit(d)


  //- unit: using truth-tables for validity
  //- preceeded by unit on formalizing the pigs
  - d0 = get_unit('135')
  - d = get_unit('14')
    mixin section({unit:d, images:images})
    .slide.anim-attribute(data-what="img.bkg",data-attr="opacity:0.3")
      .words
       p.middle.center We can use truth tables to establish that 
         br
         | some arguments are logically valid
    mixin render_unit(d0)  
    mixin render_unit(d)  

  
  //- unit: complex truth tables, not(P and Q) 
  - d = get_unit('60')
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- didn't do this in 2012-3
    //- unit: tautologies and contradictions, logical validity is not what you think it is.
    //- *todo would ideally save this for lecture 03! (ideally comes after unit_09!)
    - d = get_unit('016')
      mixin section({unit:d, images:images})
      mixin render_unit(d)  


    a.deck-permalink(href='.', title='Permalink to this slide') #
