---
layout: 'default'
title: 'Lecture 05'
weburl: ''
units: []
---

include ../../fragments/slide_mixins

- var images = get_images('birds_baby')

.deck-container
  mixin title_slide({document:document, images:images})


  //- skit: logic buddy
  - each d in getCollection("documents").findAll({url:'/skits/skit_03.html'},[{year:-1,sort_order:1}]).toJSON()
    mixin render_unit(d)
  
  .slide
    p.center.middle No lecture next Tuesday (29th January)

  //- unit: negation and contradiction (rules of proof for contradiction)
  - var d = get_unit('270')
    mixin section({unit:d, images:images})
    mixin render_unit(d)
    
  .slide
    p.center.middle No lecture next week (Tuesday 29 January)


  //- unit: arrow intro, arrow elim
  - var d = get_unit('390')
    mixin section({unit:d, images:images})
    mixin render_unit(d)
  //- continuation: arrow elim hard proof example
  - var d = get_unit('391')
    mixin render_unit(d)


  //- skit: feedback
  #2012_3.slide
    .container_12: .grid_12
      p.center.middle feedback
  .slide.container_12: .grid_12
    p.em-above ‘The lectures are really helpful and engaging, however it is quite difficult to write down all the important points during the lectures so it would be really helpful if the powerpoints from the lectures and maybe even audio recordings could be made available to students.’
    p.slide  ‘I couldn’t fail to dislike your lectures less.’
    p.slide  ‘WHY HAVEN’T WE BEEN GIVEN ANY HELP FOR USING THE PROGRAMMES?!!! Pen and Paper all the way. I can’t do half of the exercises as I can’t use the programmes that we’re s’posed to do them on..’
  - each d in getCollection("documents").findAll({url:'/skits/skit_01.html'},[{year:-1,sort_order:1}]).toJSON()
    mixin render_unit(d)
  
  
  //- =Elim again (how to prove when identity is the wrong way around)
  - var d = get_unit('112')
  mixin section({unit:d, images:images})
  mixin render_unit(d)

  
  //- unit: disjunction-Elim ∨Elim (and ∨Intro)
  section#unit_221.slide
    img.bkg(src='/img/bkg/birds_baby/P5260027_crop.JPG')
    .spacer &nbsp;
    .title-block: .title-container
        h2.title1 ∨Intro and ∨Elim 
  //- prefix with introduction to ∨Intro
  - var d2 = get_unit('225')
    mixin render_unit(d2)  
  //- prefix with discussion of why ∨Elim can't be much simpler (soundness theorem)
  - var d = get_unit('226')
    mixin render_unit(d2)  
  - var d = get_unit('221')
    mixin render_unit(d)  

  .slide
    p.center.middle No lecture next week (Tuesday 29 January)

  
  //- 2011-2 ended here and was ~10min too short, so I moved syntax into this lecture
  //- but note that since added stuff above

  //- unit: everything is broken (intro to quantifiers)
  - var d = get_unit('471')
    mixin section({unit:d, images:images})
    //- choose your quantifiers (polka, value)
    - var d2 = get_unit('473')
    mixin render_unit(d2)
    mixin render_unit(d)

  //2012-3 ended here, was fine (even a bit tight)
  //-
    //- unit: Syntax for Logiya 
    - var d = get_unit('230')
    mixin section({unit:d, images:images})
      //- unit_231 is a recap
    - var d2 = get_unit('231')
      mixin render_unit(d2)  
    mixin render_unit(d)  
  
    .slide
      p.center.middle No lecture next week (Tuesday 29 January)


    a.deck-permalink(href='.', title='Permalink to this slide') #
