---
layout: 'default'
title: 'Lecture 09'
weburl: ''
units: []
lecture_date: '2013/02/07'
---

include ../../fragments/slide_mixins


- var images = get_images('twins_2009')
 

.deck-container

  mixin title_slide({document:document, images:images})

  //- unit: what arrow means
  - d = get_unit(700)
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- ↔ biconditional
  - var d = get_unit('567')
  mixin section({unit:d, images:images})
  mixin render_unit(d)


  // demorgan
  - d = get_unit(235)
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- unit: Proof Example: ¬(P∨Q) therefore ¬P∧¬Q
  //- this is particularly appropriate given that we were doing demorgan
  - d = get_unit(821)
    mixin section({unit:d, images:images})
    mixin render_unit(d)  

  // conditionals and negation
  - d = get_unit(237)
    mixin section({unit:d, images:images})
    mixin render_unit(d)  

  // don't use existential with arrow
  - d = get_unit(245)
    mixin section({unit:d, images:images})
    mixin render_unit(d)  

  //- unit: translating sentences with quantifiers
  - d = get_unit(507)
    mixin section({unit:d, images:images})
    mixin render_unit(d)  

  //- unit: ∃Elim
  - d2 = get_unit(551)
  - d = get_unit(550)
  //- intro to this unit
    mixin section({unit:d, images:images})
    mixin render_unit(d2)  
    mixin render_unit(d)  


  //- *2012-3 covered everything --- nothing in reserve

  a.deck-permalink(href='.', title='Permalink to this slide') #
