---
layout: 'default'
title: 'Lecture 14'
weburl: ''
units: []
lecture_date: '2013/03/05'
---

include ../../fragments/slide_mixins

//- *TODO change images
- var images = get_images('birds_mexico')


.deck-container

  mixin title_slide({document:document, images:images})


  //- unit: quantifier equivalences: ∀x Created(x) ⫤⊨ ¬∃x Created(x) 
  - var d = get_unit(764)
    mixin section({unit:d, images:images})
    mixin render_unit(d)


  //- unit: incorrect universal intro example explained
  //- prefix with revision of quantifier rules
  - var d2 = get_unit(575)
  //- prefix with revision of universal intro
  - var d3 = get_unit(574)
  - var d = get_unit(573)
  mixin section({unit:d, images:images})
  mixin render_unit(d2)
  mixin render_unit(d3)
  //- finally render the thing itself
  mixin render_unit(d)


  //- --------------------------------------------------
  //- truth-functional completeness
    
  //- unit: how big is truth table (for truth-functional completeness)
  - var d = get_unit(431)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
  //- unit: truth-functional completeness
  - var d = get_unit(430)
    mixin section({unit:d, images:images})
    mixin render_unit(d)


  //- --------------------------------------------------
  //- completeness theorem
    
    
  //- statement of soundness and completeness theorems
  //- *repeated!
  - d = get_unit(400)
    mixin render_unit(d)

  //- outline of completeness theorem
  - d = get_unit(450)
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- moved to lecture 12
  //- *todo: create recap!
    //- proofs about proofs
    - d = get_unit(440)
      mixin section({unit:d, images:images})
      mixin render_unit(d)
    
  //- lemma for completeness
  - d = get_unit(453)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
  
  //- completeness
  - d = get_unit(455)
    mixin section({unit:d, images:images})
    mixin render_unit(d)



  //- unit: variables
  - var d = get_unit(600)
    mixin section({unit:d, images:images})
    mixin render_unit(d)



  a.deck-permalink(href='.', title='Permalink to this slide') #
