---
layout: 'default'
title: 'Lecture 16'
weburl: ''
units: []
lecture_date: '2013/03/14'
---

include ../../fragments/slide_mixins

- var images = get_images('bali2')



.deck-container

  mixin title_slide({document:document, images:images})

  //- there is exactly one
  - var d = get_unit('625')
  mixin render_unit(d)

    
  //- unit: how big is truth table (for truth-functional completeness)
  - var d = get_unit(431)
  mixin section({unit:d, images:images})
  mixin render_unit(d)
  //- unit: truth-functional completeness
  - var d = get_unit(430)
  mixin section({unit:d, images:images})
  mixin render_unit(d)


  //- Translation from Logiya to English
  - d = get_unit(951)
  mixin section({unit:d, images:images})
  mixin render_unit(d)


  //- Could there be nothing?
  - d = get_unit(805)
  mixin section({unit:d, images:images})
  mixin render_unit(d)


  //- will there be time?  2012-3 = would have been a bit of a squeeze (glad I cut it)
    //- unit: Does ‘if’ mean what ‘→’ means?
    - var d = get_unit(640)
    mixin section({unit:d, images:images})
    mixin render_unit(d)



  //- nb 780 leads nicely into 790 (keep together)

  //- More records than the KGB
  - d = get_unit(780)
  mixin section({unit:d, images:images})
  mixin render_unit(d)

  //- The End Is Near
  //- *nb don't use section header with this one!
  - d = get_unit(790)
  mixin render_unit(d)
