---
layout: 'default'
title: 'Lecture 12'
weburl: ''
units: []
lecture_date: '2013/02/26'
---

include ../../fragments/slide_mixins


- var images = get_images('birds_mexico')

//- ******************************************************
//- * TODO take postits for postsecret
//- ******************************************************


.deck-container

  mixin title_slide({document:document, images:images})

  //- there is a store for everything
  - d = get_unit(560)
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- postsecret quiz: translation with multiple quantifiers
  - each d in getCollection("documents").findAll({url:'/quizes/postsecret_04.html'},[{year:-1,sort_order:1}]).toJSON()
    mixin render_unit(d)


  //- Proof Example: A∧B therefore ¬(¬A∨¬B)
  - d = get_unit(822)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
    
  //- TAUT CON is Evil
  - d = get_unit(305)
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- Fubar Rules
  - d = get_unit(340)
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- Proof Example: P therefore ¬¬P
  - d = get_unit(823)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
    
  //- Proof Example: S∨(Q∧R) therefore S∨Q
  - d = get_unit(824)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
  
  //- Substitution of Equivalents
  - d = get_unit(250)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
  

  //- proofs about proofs
  - d = get_unit(440)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
    



  a.deck-permalink(href='.', title='Permalink to this slide') #
