---
layout: 'default'
title: 'Lecture 04'
weburl: ''
units: []
---

include ../../fragments/slide_mixins

- var images = get_images('frozen')

.deck-container
  mixin title_slide({document:document, images:images})


  //- unit: proof - compare conjunction intro with disjunction intro
  - var d = get_unit('212')
    section#unit_212.slide
      p.middle.center How come we can prove only valid arguments?
    mixin render_unit(d)  

  //- unit: formal proof (identity again)
  - var d = get_unit('111')
    mixin section({unit:d, images:images})
    mixin render_unit(d)  

  //- unit: truth-functional connectives
  - var d = get_unit('072')
    mixin section({unit:d, images:images})
    mixin render_unit(d)  
  
  //- the Bush examples
  .slide
    p.middle.center Dissatisfaction is good
  - var d = get_unit('162')
    mixin render_unit(d)  

  
  //- unit: A and B or C
  - var d = get_unit('151')
    mixin section({unit:d, images:images})
    mixin render_unit(d)  
  - var d = get_unit('153')
    mixin render_unit(d)
  - var d = get_unit('154')
    mixin render_unit(d)
  
  
  //- not used in 2012/3
    //- unit: Ambiguity (elephant pyjamas)
    - var d = get_unit('170')
      mixin section({unit:d, images:images})
      mixin render_unit(d)  

  
  //---------------------------------------------------------
  //- 2012/3 : decided not to do this (or put in lecture 04?): important to get stuck into formal proof
    //- recap: validity and counterexamples (quick opener)
    //- nb: this might have been used in lecture 02 (depending on whether counterexamples where covered in lecture 01 or later)
    - var d = get_unit('05')
      mixin section({unit:d, images:images})
      mixin render_unit(d)  


  


    a.deck-permalink(href='.', title='Permalink to this slide') #
