---
layout: 'default'
title: 'Lecture 10'
weburl: ''
units: []
---

include ../../fragments/slide_mixins


// *todo change images
- var images = get_images('twins_2009')
 

.deck-container

  mixin title_slide({document:document, images:images})


  //- *todo --- create unit on how rules of proof specify patterns, so can do arrow elim on
  //-   not-p arrow not-q together with not-p, e.g.  Add this to an earlier lecture.
  

  a.deck-permalink(href='.', title='Permalink to this slide') #
