---
layout: 'default'
title: 'Lecture 13'
weburl: ''
units: []
lecture_date: '2013/02/28'
---

include ../../fragments/slide_mixins


- var images = get_images('indo_2003')

.deck-container

  mixin title_slide({document:document, images:images})


  //- Fubar Rules
  - d = get_unit(340)
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- Loving and being loved
  - d = get_unit(755)
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- Somebody Is Not Dead
  - d = get_unit(607)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
  
  //- unit: quantifier equivalences: ∀x(Square(x) → Broken(x)) ⫤⊨ ∀x(¬Broken(x) → ¬Square(x)) 
  - var d = get_unit(760)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
  //- unit: quantifier equivalences: ∀x(Square(x) → Broken(x)) ⫤⊨ ∀x(¬Square(x) ∨ Broken(x))
  - var d = get_unit(762)
    mixin render_unit(d)
    
    
  //- feedback
  .slide
    .words: .container_12: .grid_12
      p ‘First of all, I really appreciate the fact that you keep trying to improve your lectures and provide us with all the necessary information. 
      p.slide.nodim ‘Second of all, with the new website containing the lecture slides and rules of thumb, 
        span.tohighlight there even might be a slight chance for some of us to pass the exam. 
      p.slide ‘And third of all, I also loved the new tweed jacket.’
      mixin words-bkg('.tohighlight', 'pink')
  
 
  //- --------------------------------------------------
  //- soundness theorem
    
  //- statement of soundness and completeness theorems
  - d = get_unit(400)
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- and-fubar and the soundness properly
  - d = get_unit(345)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
    
  //- proof of soundness theorem
  - d = get_unit(410)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
    
  



  //- spare topics: hope this won't be needed

  //- * 
    //- --------------------------------------------------
    //- todo: decide what of this to cover
    //- Proof Example: S∨(Q∧R) therefore S∨Q
    - d = get_unit(824)
      mixin section({unit:d, images:images})
      mixin render_unit(d)
  
    //- why logic?
    - d = get_unit(380)
      mixin section({unit:d, images:images})
      mixin render_unit(d)
  
    //- proofs about proofs
    - d = get_unit(440)
      mixin section({unit:d, images:images})
      mixin render_unit(d)



    


  a.deck-permalink(href='.', title='Permalink to this slide') #
