---
layout: 'default'
title: 'Lecture 11'
weburl: ''
units: []
lecture_date: '2013/02/21'
---

include ../../fragments/slide_mixins


- var images = get_images('usa_parks')



.deck-container

  mixin title_slide({document:document, images:images})


  //- -----------------------
  //- relations (includes how to express counterexamples formally)

  - d = get_unit(120)
    mixin render_unit(d)
  - d = get_unit(125)
    mixin render_unit(d)
  - d = get_unit(127)
    mixin render_unit(d)
    
  - d = get_unit(128)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
    
  - d = get_unit(129)
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  - d = get_unit(581)
    mixin section({unit:d, images:images})
    mixin render_unit(d)


  //- -----------------------
  //- *todo move this block earlier?
 
  //- *Do feedback forms
  .slide
    .words: .container_12: .grid_12
      p.middle.center feedback
    
  //- *report feedback
  .slide
    .words: .container_12: .grid_12
      p Just thought I'd mention that I like your new tweed jacket! :)
      //- Also, you're a really good lecturer - I like how you digress from one section to another and then revisit previous ones again because then the topic doesn't turn out to be boring or monotonous. I must admit that Logic still makes me want to die inside a little, but hopefully that will change.
      p.slide I do wish that seminars would focus more on solving really difficult proofs or exercises, where the tutor explains more in detail how one would approach a tricky question.
  //- cut
    .slide
      .words: .container_12: .grid_12
        p 'The (fastrack) lectures are interesting and useful and feel as though they go at a reasonable pace.
        p 'The seminars are useful and help with specific problems in a more in depth way.
        p.slide 'The book and software are the downfall of the module. The book doesn't explain things well and adds confusion to the material, and the software is difficult to use and makes me understand things less. I think the module could be improved if the Language, Proof and Logic book was no longer classed as essential, but rather just recommended.
        p.slide Problems for the seminars should not revolve around using the programme, but instead have exercises which need to be written up, to help further aid the understanding of the material.'

    
  //- -----------------------
  //- relations continued

  //- expressing transitivity etc with quantifiers
  - d = get_unit(583)
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- summary of relations (can come before units 581, 583 if not including those in this lecture)
  - d = get_unit(126)
    mixin section({unit:d, images:images})
    mixin render_unit(d)


  //- -----------------------
  //- spare topics: hope this won't be needed

  //- Proof Example: A∧B therefore ¬(¬A∨¬B)
  - d = get_unit(822)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
    
  //- Proof Example: P therefore ¬¬P
  - d = get_unit(823)
    mixin section({unit:d, images:images})
    mixin render_unit(d)
    
  //- Proof Example: S∨(Q∧R) therefore S∨Q
  - d = get_unit(824)
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- why logic?
  - d = get_unit(380)
    mixin section({unit:d, images:images})
    mixin render_unit(d)

  //- *not very good; repeats some of an earlier unit
  //- truth for ∃
  - d = get_unit(495)
    mixin section({unit:d, images:images})
    mixin render_unit(d)




    


  a.deck-permalink(href='.', title='Permalink to this slide') #
