---
layout: 'default'
title: 'Lecture 2'
weburl: ''
units: []
lecture_date: '2013/04/24'
---

include ../../fragments/slide_mixins

- var images = get_images('bali')



.deck-container

  mixin title_slide({document:document, images:images})

  //- why logic
  - var d = get_unit('011')
  mixin render_unit(d)
  
  //- recap validity
  - var d = get_unit('05')
  mixin section({unit:d, images:images})
  mixin render_unit(d)

  //- recap connectives via formalising pigs argument
  - var d = get_unit('135')
  mixin section({unit:d, images:images})
  mixin render_unit(d)

  //- unit: logically valid with truth tables
  - var d = get_unit('14')
  mixin section({unit:d, images:images})
  mixin render_unit(d)
  

  //- complex truth tables
  //- done in lecture 01 in 2012-3
    - var d = get_unit('60')
    mixin section({unit:d, images:images})
    mixin render_unit(d)
    section.slide
      p.middle.center another example

  //- complex truth tables plus how to order reference columns
  - var d = get_unit('09')
  mixin section({unit:d, images:images})
  mixin render_unit(d)
  
  //- cancel lecture
  section.slide
    p.middle.center No lecture on Tuesday 30th April.


  //- what to read: which sections of the text book
  section.slide#what_to_read
    img.bkg(src='/img/what_to_read.jpeg')
  
  //- postsecret quiz: logically valid arguments
  - each d in getCollection("documents").findAll({url:'/quizes/postsecret_01.html'},[{year:-1,sort_order:1}]).toJSON()
    mixin render_unit(d)


  //- unit: logical validity is not what you think it is
  - var d = get_unit('162')
  mixin render_unit(d)
  - var d = get_unit('160')
  mixin render_unit(d)


  //- cancel lecture
  section.slide
    p.middle.center No lecture on Tuesday 30th April.
  
  //- unit: formal proof
  - var d = get_unit('211')
  mixin section({unit:d, images:images})
  mixin render_unit(d)
  - var d = get_unit('213')
  mixin render_unit(d)
  - var d = get_unit('21')
  mixin render_unit(d)

