---cson
layout: 'deck_slides_img'
images: 'unit_821'
title: "Proof Example: ¬(P∨Q) therefore ¬P∧¬Q"
description: "Describes how to prove ¬(P∨Q) therefore ¬P∧¬Q."
tags: ['proof','revision']
depends: ['']
source: ['ph126 lecture 08']
duration: 9
---
