---cson
layout: 'deck_slides_img'
images: 'unit_340'
title: "Fubar Rules"
description: "Introduces a fake rule of proof, ∧Fubar.  The challenge is to explain what is wrong with ∧Fubar."
tags: ['meta']
depends: ['']
source: ['ph126 fastlecture 04']
duration: 5
book: ['8.3']
exercises: []
exercises_fast: []
---

