---cson
layout: 'deck_slides_img'
title: "∀Intro: Recap"
description: "Revises the rule of proof ∀Intro."
tags: ['proof','revision'] 
depends: ['570']
source: ['ph126 lecture 14']
duration: 2
book: []
exercises: []
exercises_fast: []
sequence: 930
---
