---
layout: 'deck_units'
title: "There Is Exactly One"
tags: ['translation']
description: "Mentions several ways of expressing the idea that there is exactly one creator in our formal language, Logiya."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins


.slide
  .words#FYDe7
    .container_12: .grid_12
      p There is one creator.
      p.indent ∃x Creator(x)
      .slide.nodim
        p.em-above Brian is the one and only creator.
        p.indent
          span.hide ∃y( 
          span Creator(
          span.brian b
          | )
          span.slide ∧ ∀x( 
            span.antecedent Creator(x)
            span  → 
            span.consequent x=
              span.brian b
            |  )
      //- *note explain what's going on here: we're saying all creators are brian, like all squares are blue
      .slide
        div.allsquares.white-box(style="width:260px;position:absolute;top:0px;left:400px;")
          p.center All squares are broken.
          p.center ∀x( 
            span.antecedent Sqr(x)
            span  → 
            span.consequent Brkn(x)
            span  )
        mixin words-bkg(['.antecedent'],'pink')
        mixin words-bkg(['.consequent'],'blue')
        mixin dim(['.allsquares'])
        mixin words-bkg-remove(['.antecedent'],'pink')
        mixin words-bkg-remove(['.consequent'],'blue')
      .slide.nodim
        p.em-above There is one and only one creator.
        mixin words-bkg(['.brian'],'yellow')
        p.indent.slide.nodim
          span.step2.bkg-words-highlight-teal.hide ∃y( 
          span Creator(
          span.var-y y
          span ) ∧ ∀x( Creator(x) → x=
          span.var-y y
          span  ) 
          span.step2.hide )
          mixin words-bkg(['.var-y'],'yellow')
          mixin steps(2)
      //- *note another way of expressing the same proposition (these are logically equivalent)
      .slide.nodim
        p or:
        p.indent ∃y( ∀x( Creator(x) 
          span.log-equiv ↔
          span  x=y ) )
      mixin words-bkg(['.log-equiv'],'lime')
      //- exercise to check you've got it
      .slide
        p.em-above Ex: There is one and only one female creator.
        p.slide Ex: There is one and only one creator and she is female.

a.deck-permalink(href='.', title='Permalink to this slide') #
