---cson
layout: 'deck_slides_img'
images: 'unit_292'
title: "Recap: Scope"
description: "Recaps the discussion of syntax and scope."
tags: ['definition','syntax']
depends: ['unit_230']
source: ['ph126 lecture 06', 'unit_292.pptx']
duration: 7
book: ['3.5']
exercises: ['3.14','3.15']
exercises_fast: []
---
