---cson
layout: 'deck_slides_img'
title: "Tautologies and Contradictions: More"
description: "Illustrates and defines the terms 'tautology' and 'contradiction' with some quotes from George Bush."
tags: ['truth-tables'] 
depends: ['unit_160']
source: ['ph126 fastlecture 01']
sequence: 290
---

