---cson
layout: 'deck_slides_img'
title: "Subproofs Are Tricky"
description: "Offers what appears to be a proof of an argument that is not logically valid in order to illustrate a restriction on the use of subproofs."
tags: ['proof']
depends: ['unit_220']
source: ['ph126 lecture 06']
duration: 5
sequence: 420
---
