---cson
layout: 'deck_slides_img'
images: 'unit_05'
title: "Recap: Validity, Counterexamples"
description: "Illustrates the notions of counterexample and validity with a simple example argument."
tags: ['definitions']
depends: ['unit_03','unit_04']
source: ['ph126 lecture 02']
sequence: 90
---
