---cson
layout: 'deck_slides_img'
title: "Quantifier Equivalences: ∀x Created(x) ⫤⊨ ¬∃x Created(x)"
description: "Introduces the logical equivalence that allows us to turn ∀ into ∃, and conversely. Explains how to prove informally that the equivalence holds using the truth-conditions for quantified statements."
tags: ['translation','quantifiers','semantics']
depends: ['']
source: ['ph126 lecture 14']
duration: 5
book: ['10.3','10.4']
exercises: []
exercises_fast: []
sequence: 920
---

