---cson
layout: 'deck_slides_img'
title: "There Is a Store for Everything"
description: "Explains how to translate English sentences involving a combination of universal and existential quantifiers into Logiya with an example."
tags: ['quantification','semantics','translation']
depends: ['740','742']
source: ['ph126 fastlecture 06', 'ph126 lecture 12']
duration: 10
book: ['11.2','11.3']
exercises: []
exercises_fast: []
sequence: 790
---

