---cson
layout: 'deck_slides_img'
title: "TAUT CON Is Not a Rule of Proof"
description: "TAUT CON is evil.  It conflates formal and semantic notions.  Don't ever use it."
tags: ['proof']
source: ['ph126 lecture 12']
duration: 3
book: []
exercises: []
exercises_fast: []
---

