---cson
layout: 'deck_slides_img'
images: 'unit_503'
title: "All Squares Are Blue"
description: "Explains how to translate 'All squares and blue' and 'Some squares are blue' into Logiya using quantifiers."
tags: ['quantification', 'revision']
depends: ['unit_501']
source: ['ph126 lecture 08', 'ph133 lecture 05']
duration: 5
book: ['9.2','9.3','9.5']
exercises: []
exercises_fast: []
---

