---cson
layout: 'deck_slides_img'
title: "Something Is Above Something"
description: "Introduces a simple sentence involving multiple quantifiers.  Illustrates how to apply the procedure for determining the truth of sentences involving quantifiers to sentences containing multiple quantifiers."
tags: ['quantification','semantics']
depends: ['']
source: ['ph126 fastlecture 05']
duration: 5
book: ['11.1']
exercises: []
exercises_fast: []
sequence: 640
---

