---cson
layout: 'deck_slides_img'
images: 'unit_640'
title: "Does ‘if’ mean what ‘→’ means?"
description: "Argues that ‘if’ must mean what ‘→’ means, and that it cannot."
tags: ['semantics'] 
depends: ['unit_700']
source: ['ph126 lecture 09']
duration: 10
book: ['7.3']
exercises: []
exercises_fast: []
---
