---cson
layout: 'deck_slides_img'
title: "Summary of Quantifier Rules"
description: "Quick recap of the four main quantifier rules."
tags: ['proof'] 
depends: ['unit_550','unit_570']
source: ['ph126 fastlecture 06']
duration: 3
book: ['13.1','13.2']
exercises: []
exercises_fast: []
sequence: 930
---
