---cson
layout: 'deck_slides_img'
title: "Proof Example: ∃x Dead(x) ⊢ ¬∀x¬ Dead(x)."
description: "Describes how to prove that not everything is not dead given that something is dead."
tags: ['proof','revision','proof-example']
depends: ['']
source: ['ph126 revision lecture 01 proofs 2009-10']
duration: 5
sequence: 840
---
