---cson
layout: 'deck_slides_img'
images: 'unit_225'
title: "∨Intro"
description: "Introduces the rule of proof ∨Intro with some examples."
tags: ['proof']
depends: ['']
source: ['ph126 lecture 05']
duration: 5
---
