---cson
layout: 'deck_slides_img'
images: 'unit_01'
title: 'The Logic Pig'
tags: ['definitions']
description: "Explains the notion of a logically valid argument with an illustration involving a pig.  Previews key ideas coming later."
depends: []
source: ['ph126 lecture 01']
---
