---cson
layout: 'deck_slides_img'
images: 'unit_06'
title: "Identity"
description: "Introduces the notion of identity used in studying first-order logic.  Includes example argument and the two principles."
tags: ['definitions']
depends: []
source: ['ph126 fastlecture 01']
---
