---cson
layout: 'deck_slides_img'
images: 'unit_800'
title: "∀Elim"
description: "Explains the rule of proof ∀Elim with an example."
tags: ['quantification','proof']
depends: ['']
source: ['ph126 lecture 07']
duration: 5
book: ['13.1']
exercises: []
exercises_fast: []
---

