---cson
layout: 'deck_slides_img'
images: 'unit_041'
title: "Soundness"
description: "Explanation of the notions of a sound argument."
tags: ['definitions']
depends: ['unit_03']
source: ['ph126 lecture 01']
sequence: 80
---
