---cson
layout: 'deck_slides_img'
title: "What does ∃ mean?"
description: "Explains the meaning of ∃ with a simple example."
tags: ['semantics'] 
depends: ['unit_471']
source: ['ph126 fastlecture 04']
duration: 7
exercises: []
exercises_fast: []
sequence: 530
---
