---cson
layout: 'deck_slides_img'
title: "Proof Example: P therefore ¬¬P."
description: "Describes how to prove P therefore ¬¬P."
tags: ['proof','revision','proof-example']
depends: ['']
source: ['ph126 lecture 09']
duration: 9
sequence: 830
---
