---cson
layout: 'deck_slides_img'
title: "Proof of the Completeness Theorem"
description: "Sketches a proof of the completeness theorem."
tags: ['meta']
depends: ['453']
source: ['ph126 lecture 13']
duration: 5
book: ['8.3']
exercises: []
exercises_fast: []
sequence: 990
---

