---cson
layout: 'deck_slides_img'
images: 'unit_135'
title: "Formalizing Arguments"
description: "Illustrates how for formalise simple arguments with the 'pigs' illustration used earlier."
tags: ['translation'] 
depends: ['unit_01','unit_02']
source: ['ph126 lecture 02']
sequence: 140
---
