---cson
layout: 'deck_slides_img'
title: "∀Intro: An Incorrect Proof"
description: "Discussion of an incorrect proof which appears to apply ∀Intro to prove this invalid argument: (∀x Square(x)) → (∀x Blue(x)) therefore ∀x(Square(x) → Blue(x))."
tags: ['proof'] 
depends: ['570']
source: ['ph126 lecture 12']
duration: 4
book: ['13.1','13.2']
exercises: []
exercises_fast: []
sequence: 700
---
