---cson
layout: 'deck_slides_img'
title: "Relations: Some Examples"
description: "Practices identifying whether a given relation is reflexive, symmetric or transitive.  Also practices finding relations with some given set of features (e.g. find a relation that is reflexive and symmetric but not transitive)."
tags: ['quantification','relations']
depends: ['120','125']
source: ['ph126 lecture 11']
duration: 10
book: ['15.1']
exercises: []
exercises_fast: []
---

