---cson
layout: 'deck_slides_img'
images: 'unit_071'
title: "Truth Tables"
description: "Introduces truth tables for conjunction, disjunction and negation.  Truth tables give the meanings of connectives in our formal language Logiya."
tags: ['definitions']
depends: []
source: ['ph126 fastlecture 01']
sequence: 110
book: ['3.1','3.2','3.3']
---
