---cson
layout: 'deck_slides_img'
images: 'unit_291'
title: "Scope: A Mistaken Application of ¬Elim"
description: "Describes a mistaken application of the rule ¬Elim.  Asks why this application is mistaken."
tags: ['definition','syntax']
depends: ['unit_280']
source: ['ph126 lecture 06']
duration: 3
---
