---cson
layout: 'deck_slides_img'
title: "Everything Is Broken"
description: "Quantifiers are for talking about things without naming them."
tags: ['quantification']
depends: ['']
source: ['ph126 lecture 06']
duration: 8
book: ['9.1','9.2']
exercises: ['9.1 odd numbers only', '9.2 even numbers only']
exercises_fast: []
sequence: 360
---
