---cson
layout: 'deck_slides_img'
title: "The Soundness Property and the Fubar Rules (fast)"
description: "Identifies a property of the rules of proof in Fitch: no rule allows us to go from truths to a falsehood.  Illustrates by contrasting ∧Elim with ∧Fubar."
tags: ['meta']
depends: ['340']
source: ['ph126 lecture 13']
duration: 10
book: ['8.3']
exercises: []
exercises_fast: []
sequence: 900
---

