---cson
layout: 'deck_slides_img'
title: "Expressing Counterexamples Formally"
description: "Describes how quantifiers can be used to express the claim that a particular relation is reflexive, symmetric or transitive."
tags: ['counterexamples','relations']
depends: ['125','581']
source: ['ph126 fastlecture 05']
duration: 5
book: ['15.1']
exercises: ['15.29','15.30','15.31','15.32','15.33','15.34','15.35','15.36']
exercises_fast: ['15.29','15.33','15.34','15.35']
sequence: 770
---

