---cson
layout: 'deck_slides_img'
title: "Could There Be Nothing?"
description: "Our system of proof, Fitch, allows us to prove that something exists from no premises.  So if Fitch is sound, there must not be a possible situation in which nothing exists.  Here we look at what three proofs that somehing exists which indicate how Fitch would need to be restricted so that it does not allow us to prove that something exists from no premises."
tags: ['quantification','proof']
depends: ['']
source: ['ph126 lecture 07']
duration: 5
book: ['13.2']
exercises: []
exercises_fast: []
sequence: 550
---

