---cson
layout: 'deck_slides_img'
title: "∀Intro"
description: "Introduces the rule of proof ∀Intro with an example.  The example proof is from premise ∀x(Square(x) → Blue(x)) to conclusion ∀x Square(x) → ∀x Blue(x)."
tags: ['proof','proof-example'] 
depends: ['550', '503']
source: ['ph126 fastlecture 06', 'ph126 lecture 12']
duration: 6
book: ['12.1','12.3','13.1']
exercises: []
exercises_fast: []
sequence: 690
---
