---cson
layout: 'deck_slides_img'
title: "Relations: Transitivity"
description: "Explains what it is for a relation to be transitive.  Describes how to show, using counterexamples, that the relation NotAdjacent (which holds between two objects just when the first is not adjacent to the second) is not transitive."
tags: ['quantification','relations','counterexamples']
depends: ['740','742']
source: ['ph126 fastlecture 05']
duration: 5
book: ['15.1']
exercises: []
exercises_fast: []
sequence: 730
---

