---cson
layout: 'deck_slides_img'
images: 'unit_029'
title: "Terminology"
description: "Steps through the definition of a logically valid argument.  Quickly runs through the terms sentence, name and predicate."
tags: ['definitions']
depends: []
source: ['ph126 fastlecture 01']
sequence: 15
---
