---cson
layout: 'deck_slides_img'
images: 'unit_130'
title: "How to Write Proofs"
description: "Describes how to write proofs."
tags: ['definitions']
depends: ['unit_21']
source: ['ph133 lecture 03']
duration: 2
sequence: 220
---
