---cson
layout: 'deck_slides_img'
title: "Proof Example: A∧B therefore ¬(¬A∨¬B)."
description: "Describes how to prove A∧B therefore ¬(¬A∨¬B).."
tags: ['proof','revision','proof-example']
depends: ['']
source: ['ph126 lecture 09']
duration: 9
sequence: 810
---
