---cson
layout: 'deck_slides_img'
title: "∀Intro: An Incorrect Proof Explained"
description: "Explains an incorrect proof mentioned earlier.  The incorrect proof appears to apply ∀Intro to prove this invalid argument: (∀x Square(x)) → (∀x Blue(x)) therefore ∀x(Square(x) → Blue(x))."
tags: ['proof'] 
depends: ['572']
source: ['ph126 lecture 14']
duration: 6
book: ['13.1','13.2']
exercises: []
exercises_fast: []
---
