---cson
layout: 'deck_slides_img'
images: 'unit_03'
title: "Logically Valid Arguments"
description: "Explains the notion of logically valid argument.  This is the central notion for this course."
tags: ['definitions']
depends: ['unit_01','unit_02']
source: ['ph126 lecture 01']
sequence: 50
book: ['2.1']
---
