---cson
layout: 'deck_slides_img'
images: 'unit_223'
title: "∨Elim: Recap"
description: "Repeats an earlier illustration of the use of ∨Elim, a rule of proof.  Uses the inference from A∨B to B∨A."
tags: ['proof']
depends: ['unit_220']
source: ['ph126 lecture 06']
duration: 10
---
