---cson
layout: 'deck_slides_img'
title: "The End Is Near"
description: "Extremely brief introduction to definite descriptions.  Hints at how sentences such as 'The winner is hungry' might be translated into Logiya."
tags: ['quantification','translation']
depends: ['470']
source: ['ph126 lecture 15']
duration: 10
book: ['14.3']
exercises: []
exercises_fast: []
---

