---cson
layout: 'deck_slides_img'
images: 'unit_392'
title: "→Intro Proof Example"
description: "Discusses a simple proof involving →Intro."
tags: ['proof']
depends: ['unit_390']
source: ['ph126 lecture 07']
duration: 4
---
