---cson
layout: 'deck_slides_img'
images: 'unit_21'
title: "Formal Proof: ∧Elim and ∧Intro"
description: "Introduces and illustrates the use of rules of proof for conjunction."
tags: ['definitions']
depends: ['unit_211']
source: ['ph133 lecture 03']
sequence: 200
---
