---cson
layout: 'deck_slides_img'
title: "Relations: Reflexive, Symmetric"
description: "Explains what it is for a relation to be reflexive, and what it is for a relation to be symmetric."
tags: ['quantification','relations','counterexamples']
depends: ['740','742']
source: ['ph126 lecture 11']
duration: 5
book: ['15.1']
exercises: []
exercises_fast: []
sequence: 720
---

