---cson
layout: 'deck_slides_img'
title: "Quantifier Equivalences: ∀x(Square(x) → Broken(x)) ⫤⊨ ∀x(¬Square(x) ∨ Broken(x))"
description: "A further example of how we can use knowledge of equivalences among propositional sentences to get quantifier equivalences."
tags: ['translation','quantifiers']
depends: ['760']
source: ['ph126 lecture 14']
duration: 5
book: ['10.3']
exercises: []
exercises_fast: []
sequence: 870
---

