---cson
layout: 'deck_slides_img'
title: "Relations Again: NotEqual"
description: "Revises reflexivity, symmetry and transitivity by considering NotEqual, the relation that holds between two things just if the first is not equal to the second."
tags: ['relations','revision']
depends: ['120','125','128']
source: ['ph126 fastlecture 06']
duration: 5
book: ['15.1']
exercises: []
exercises_fast: []
---

