---cson
layout: 'deck_slides_img'
title: "¬P ∨ ¬Q compared with ¬(P ∨ Q)"
description: "Explains how the brackets make a different to the meanings of sentences.  Illustrates by comparing ¬P ∨ ¬Q with ¬(P ∨ Q)."
tags: ['syntax']
depends: ['unit_230']
source: ['new']
duration: 8
book: ['3.5']
exercises: []
exercises_fast: []
sequence: 400
---
