---cson
layout: 'deck_slides_img'
images: 'unit_222'
title: "∨Intro and ∨Elim"
description: "States the rules of proof for ∨, ∨Intro and ∨Elim."
tags: ['proof']
depends: []
source: ['ph126 fastlecture 03']
duration: 2
---
