---cson
layout: 'deck_slides_img'
images: 'unit_710'
title: "Scope and Quantifiers"
description: "Explores differences between ∃x(Square(x) ∧ Blue(x)), some squares are blue, and ∃x Square(x) ∧ ∃x Blue(x), something is square and something is blue."
tags: ['semantics'] 
depends: ['unit_503','unit_491', 'unit_492']
source: ['ph126 lecture 08']
duration: 10
book: ['9.5','9.6']
exercises: []
exercises_fast: []
---
