---cson
layout: 'deck_slides_img'
title: "Lemma for the Completeness Theorem"
description: "Proves the following claim, where Γ is a set of sentences of Logiya: if for every sentence letter P, either Γ⊢P or Γ⊢¬P, then for every sentence of Logiya φ, either Γ⊢φ or Γ⊢¬φ."
tags: ['meta']
depends: ['440']
source: ['ph126 lecture 13']
duration: 10
book: ['8.3']
exercises: []
exercises_fast: []
sequence: 980
---

