---cson
layout: 'deck_slides_img'
title: "Multiple Quantifiers: Something Makes Someone Want to Die Inside"
description: "Introduces translation from English to Logiya using multiple existential quantifiers with an example."
tags: ['quantification','semantics','translation']
depends: ['']
source: ['ph126 lecture 10']
duration: 5
book: ['11.1']
exercises: []
exercises_fast: []
---

