---cson
layout: 'deck_slides_img'
images: 'unit_212'
title: "∧Intro and ∨Intro: Compare and Contrast"
description: "Contrasts two rules of proof and explores how their differences are related to truth-tables."
tags: ['proof']
depends: ['unit_21']
source: ['ph126 fastlecture 02','ph126 lecture 04']
sequence: 260
book:['6.1']
---
