---cson
layout: 'deck_slides_img'
title: "Soundness and Completeness: Statement of the Theorems"
description: "Explains what it is for a system of proof, such as Fitch, to be sound; and what it is for a system of proof to be complete."
tags: ['meta']
depends: ['']
book: ['8.3','13.4']
source: ['ph126 lecture 09']
duration: 9
sequence: 970
---
