---cson
layout: 'deck_slides_img'
title: "Quantifier Equivalences: ∀x(Square(x) → Broken(x)) ⫤⊨ ¬∃x(Square(x) ∧ ¬Broken(x))"
description: "Describes how we can use knowledge of equivalences among propositional sentences to get quantifier equivalences with an example.  The example is the inference from this: A → B ⫤⊨ ¬B → ¬A, to this: ∀x(Square(x) → Broken(x)) ⫤⊨ ∀x(¬Broken(x) → ¬Square(x))."
tags: ['translation','quantifiers']
depends: ['760','764']
source: ['ph126 lecture 15']
duration: 5
book: ['10.3']
exercises: []
exercises_fast: []
sequence: 1020
---

