---cson
layout: 'deck_slides_img'
title: "Expressing Relations with Quantifiers"
description: "Describes how quantifiers can be used to express the claim that a particular relation is reflexive, symmetric or transitive.  Also introduces dot-arrow diagrams to describe relations."
tags: ['quantification','relations']
depends: ['740','742']
source: ['ph126 fastlecture 05']
duration: 5
book: ['15.1']
exercises: ['15.29','15.30','15.31','15.32','15.33','15.34','15.35','15.36']
exercises_fast: ['15.29','15.33','15.34','15.35']
sequence: 760
---

