---cson
layout: 'deck_slides_img'
title: "Get Some Quantifiers: Don't Economise"
description: "We're going to be using quantifiers a lot.  We understand them thanks to Frege and Taski.  It's important to get a pair you like."
tags: ['quantification']
depends: ['']
source: ['ph126 lecture 06']
book: ['9.1']
exercises: []
exercises_fast: []
duration: 2
sequence: 370
---
