---cson
layout: 'deck_slides_img'
title: "The Essence of the Completeness Theorem"
description: "Outlines how the completeness theorem for the propositional part of our formal proof system, Fitch, will work."
tags: ['meta']
depends: ['400']
source: ['ph126 lecture 13']
duration: 7
book: ['8.3']
exercises: []
exercises_fast: []
---

