---cson
layout: 'deck_slides_img'
title: "Loving and Being Loved"
description: "Discusses translating English sentences about loving and being loved in order to illuminate the difference between ∃y∀x Loves(x,y) and ∃y∀x Loves(y,x)."
tags: ['quantifiers','translation']
depends: ['560']
source: ['ph126 lecture 15']
duration: 5
book: ['11.2', '11.3']
exercises: []
exercises_fast: []
---

