---cson
layout: 'deck_slides_img'
images: 'unit_160'
title: "Tautologies and Contradictions"
description: "Illustrates and defines the terms 'tautology' and 'contradiction'.  Explains how they interact with the notion of logical validity using two arguments to illustrate.  Continues the use of truth-tables to demonstrate logical validity. Notes that logical validity is not what you think it is."
tags: ['truth-tables'] 
depends: ['unit_071','unit_09']
source: ['ph126 fastlecture 01']
sequence: 250
---

