---cson
layout: 'deck_slides_img'
images: 'unit_250'
title: "Substitution of Equivalents"
description: "Statement of the substitution theorem.  Suppose that φ, ψ and χ are sentences of Logiya.  Suppose that φ is logically equivalent to ψ.  Let χ[φ/ψ] be the result of replacing, in χ, zero or more occurrences of φ with ψ. Then the subsitution theorem says that χ[φ/ψ] is logically equivalent to χ."
tags: ['meta']
depends: ['']
source: ['ph126 fastlecture 04']
duration: 5
book: ['4.5','10.3']
exercises: []
exercises_fast: []
---
