---cson
layout: 'deck_slides_img'
images: 'unit_290'
title: "Scope"
description: "Defines the notion of scope using trees; explains its application in constructing proofs and truth-tables."
tags: ['definition','syntax']
depends: ['unit_230']
source: ['ph126 lecture 06']
duration: 12
book: ['3.5']
exercises: ['3.14','3.15']
exercises_fast: []
---
