---cson
layout: 'deck_slides_img'
title: "Scope and Negation"
description: "Explores differences between the negation of a disjunction and a disjunction of negations.  That is, between ¬(A∨B) and (¬A∨¬B)"
tags: ['semantics'] 
depends: ['unit_290']
source: ['ph126 lecture 08', 'unit_320.pptx']
duration: 10
book: ['3.5','3.6']
exercises: []
exercises_fast: []
sequence: 530
---
