---cson
layout: 'deck_slides_img'
images: 'unit_14'
title: "Logical Validity and Truth Tables"
description: "Illustrates the use of truth tables to determine logical validity."
tags: ['truth-tables']
depends: []
source: ['ph126 fastlecture 01']
sequence: 150
book: ['4.3']
---
//- *todo move last bit into its own unit (logical validity is not what you think it is)