---cson
layout: 'deck_slides_img'
images: 'unit_470'
title: "Two Things Are Broken"
description: "Introduces the issue of how to translate sentences involving number into Logiya."
tags: ['quantification','semantics']
depends: ['unit_470']
source: ['ph126 fastlecture 05']
duration: 10
book: ['14.1']
exercises: []
exercises_fast: []
---

