---cson
layout: 'deck_slides_img'
images: 'unit_801'
title: "∃Intro"
description: "Explains the rule of proof ∃Intro."
tags: ['quantification','proof']
depends: ['']
source: ['ph126 lecture 07']
duration: 5
book: ['13.2']
exercises: []
exercises_fast: []
sequence: 550
---

