---
layout: 'deck_units'
title: "Negating Identity"
tags: ['semantics']
description: "Sometimes people think that ¬a=b and ¬(a=b) mean something different.  They don't."
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/slide_mixins

.slide
  .words#FUOASda
    .container_12: .grid_12
      table
        tbody
          tr.main-point
            td(style="padding-right:2em;padding-top:1em;padding-bottom:1em;")
              p ¬a=b 
              p ¬(a=b) 
            td.hide.step2(style="padding-top:1em;padding-bottom:1em;")
              span.stretch-3(style="position:relative;top:-0.3em;padding-right:0.2em;") }  
              |  these mean the same thing
      .everything-else
        .slide.nodim
          p.em-above Ayesha is not Beatrice.
          .slide.nodim
            p.indent It’s not true that: Ayesha is Beatrice
            p.indent Ayesha is this: not Beatrice (?)
        .slide.nodim
          p.em-above  a=
            span.the-error ¬b
            |  <== don’t do this!
          mixin words-bkg('.the-error', 'red')
        .slide.nodim
          p.em-above  
            span.the-error2 (¬a)
            | =b 
            | <== don’t do this either!
          mixin words-bkg('.the-error2', 'red')
      mixin blur('.everything-else')
      mixin row-bkg('.main-point', 'grey')
      mixin steps(2)
