---cson
layout: 'deck_slides_img'
images: 'unit_161'
title: "Logic Makes Me Die Inside"
description: "Is the definition of logical validity flawed?"
tags: ['definition'] 
depends: ['unit_03']
source: ['ph126 lecture 03']
duration: 3
sequence: 240
---
