---cson
layout: 'deck_slides_img'
images: 'unit_154'
title: "A ∧ B ∨ C: They Are Different"
description: "Uses two arguments to show that (A ∧ B) ∨ C and A ∧ (B ∨ C) really are different."
tags: ['truth-tables']
depends: ['unit_151']
source: ['ph133 lecture 03']
duration: 6
---
