---cson
layout: 'deck_slides_img'
title: "How Big Is a Truth-Table?"
description: "Explains how to determine how many rows a truth table for a sentence containing 2, 3 or 369 sentence letters would be."
tags: ['meta','truth-tables']
depends: ['435','250']
source: ['ph126 lecture 14']
duration: 5
book: []
exercises: []
exercises_fast: []
sequence: 950
---

