---cson
layout: 'deck_slides_img'
images: 'unit_824'
title: "Proof Example: S∨(Q∧R) therefore S∨Q."
description: "Describes how to prove S∨(Q∧R) therefore S∨Q."
tags: ['proof','revision','proof-example']
depends: ['']
source: ['ph126 lecture 09']
duration: 5
---
