---cson
layout: 'deck_slides_img'
images: 'unit_013'
title: "Learning Objectives"
description: "Graphical depiction of learning objectives for this course."
tags: []
depends: []
source: ['ppe lecture 01']
---
