---cson
layout: 'deck_slides_img'
title: "∨Elim: An Example"
description: "Illustrates the use of ∨Elim, a rule of proof.  Uses the inference from A∨B to B∨A as an example."
tags: ['proof','proof-example']
depends: []
source: ['ph133 lecture 04', 'ph126 fastlecture 03']
duration: 10
sequence: 350
---
