---cson
layout: 'deck_slides_img'
title: "∃Elim"
description: "Introduces the rule of proof ∃Elim with an example.  The example proof is from premise ∃x( Blue(x) ∧ Square(x) ) to conclusion ∃x Blue(x)."
tags: ['proof'] 
depends: ['']
source: ['ph126 fastlecture 05']
duration: 6
book: ['12.2','13.2']
exercises: []
exercises_fast: []
sequence: 620
---
