---cson
layout: 'deck_slides_img'
title: "Rules of Proof for Identity"
description: "Introduces and illustrates the rules of proof for identity, =Intro and =Elim."
tags: ['proof']
depends: ['unit_211']
source: ['ph133 lecture 03']
sequence: 210
book: ['2.2']
---
