---cson
layout: 'deck_slides_img'
title: "Truth-functional completeness"
description: "Explains what it is for a set of connectives to be truth-functionally complete.  Proves that {¬, ∧, ∨} is truth-functionally complete.  ‘A set of truth-functors is said to be expressively adequate (or sometimes functionally complete) iff, for every truth function whatever, there is a formula containing only those truthcfunctors which express that truthcfunction, i.e. which has as its truthctable the truthctable specifying that function.’ (Bostock, Intermediate Logic p. 45)."
tags: ['meta','truth-tables']
depends: ['435','250']
source: ['ph126 fastlecture 06', 'ph126 lecture 14']
duration: 5
book: ['7.4']
exercises: []
exercises_fast: []
sequence: 960
---

