---cson
layout: 'deck_slides_img'
images: 'unit_280'
title: "¬Elim"
description: "Introduces the rule of proof ¬Elim with an illustration.  Relates the rule to the truth table for ¬."
tags: ['proof']
depends: ['']
source: ['ph126 lecture 06']
duration: 3
book: ['6.3']
exercises: []
exercises_fast: []
---
