---cson
layout: 'deck_slides_img'
images: 'unit_60'
title: "Complex Truth Tables"
description: "Illustrates how to construct complex truth tables with an example, not(P and Q)."
tags: ['truth-tables'] 
depends: ['unit_071']
source: ['ph126 lecture 02']
---
