---cson
layout: 'deck_slides_img'
images: 'unit_012'
title: "Sentence Letters"
description: "Explains what sentence letters are and why we use them."
tags: ['definitions']
depends: []
source: ['ph126 fastlecture 01']
sequence: 100
---
