---cson
layout: 'deck_slides_img'
title: "How Many Truth-functions Are There?"
description: "Describes how to work out how many distinct truth functions there are involving 2, 3 or 369 sentence letters."
tags: ['meta','truth-tables']
depends: ['072','09']
source: ['ph126 fastlecture 06']
duration: 5
book: ['7.4']
exercises: []
exercises_fast: []
---

