---cson
layout: 'deck_slides_img'
title: "Subproofs Are Tricky: The Answer"
description: "Explains that in doing a proof, it is not allowed to cite lines from a closed subproof, thereby answering a question asked earlier."
tags: ['proof']
depends: ['unit_224']
source: ['ph126 lecture 07']
duration: 5
sequence: 490
---
