---cson
layout: 'deck_slides_img'
images: 'unit_226'
title: "∨Elim and Soundness"
description: "Introduces the rule of proof ∨Elim and links it to the truth table for ∨."
tags: ['proof']
depends: ['']
source: ['ph126 lecture 05']
duration: 5
sequence: 350
book: ['5.2','6.2']
---
