---cson
layout: 'deck_slides_img'
images: 'unit_09'
title: "Complex Truth Tables"
description: "Illustrates how to construct complex truth-tables with an example, the truth-table for (P and Q) or R.  Also describes how to order the reference columns."
tags: ['truth-tables']
depends: ['071']
source: ['ph126 fastlecture 01', 'ph133 lecture 02']
sequence: 230
---
