---cson
layout: 'deck_slides_img'
title: "Summary of Quantifier Rules So Far"
description: "Summary of ∀Elim, ∃Intro and ∃Elim."
tags: ['proof'] 
depends: ['550', '503', '550']
source: ['ph126 lecture 10']
duration: 2
book: ['12.1','12.2','12.3','13.1','13.2']
exercises: []
exercises_fast: []
---
