---cson
layout: 'deck_slides_img'
title: "I Met a Philosopher"
description: "Explains how to express propositions like 'I met a philosopher' by using the existential quantifier together with conjunction."
tags: ['quantification']
depends: ['unit_471']
source: ['ph126 lecture 07']
duration: 5
book: ['9.2','9.3','9.5']
exercises: ['9.1 odd numbers only', '9.2 even numbers only', '9.4', '9.5', '9.8', '9.9', '9.10', '9.12']
exercises_fast: ['9.8', '9.9', '9.10','9.12','9.13']
sequence: 440
---

//- move these exercises_fast to later unit: ,'9.16.10-15','9.17.7-15','9.18','9.19'
