---cson
layout: 'deck_slides_img'
images: 'unit_231'
title: "Recap: Structural Ambiguity in Natural Languages"
description: "Reminder about the sources of structural ambiguity in natural language."
tags: ['syntax']
depends: ['unit_230']
source: ['ph126 fastlecture 03']
duration: 1
---
