---cson
layout: 'deck_slides_img'
title: "Proof of the Soundness Theorem"
description: "Sketches a proof of the soundness theorem for the propositional part of our formal system of proof, Fitch."
tags: ['meta']
depends: ['345','400']
source: ['ph126 lecture 13']
duration: 5
book: ['8.3']
exercises: []
exercises_fast: []
sequence: 910
---

