---cson
layout: 'deck_slides_img'
title: "What does ∀ mean?"
description: "Explains the meaning of ∀ with an example."
tags: ['semantics'] 
depends: ['unit_503']
source: ['ph126 lecture 08', 'ph133 lecture 05']
duration: 7
book: ['9.4']
exercises: []
exercises_fast: []
sequence: 500
---
