---cson
layout: 'deck_slides_img'
title: "Two Things Are Broken"
description: "Explains how to translate sentences involving number into Logiya using quantifiers and identity."
tags: ['quantification','semantics']
depends: ['740']
source: ['ph126 fastlecture 05']
duration: 10
book: ['14.1']
exercises: []
exercises_fast: []
sequence: 710
---

