---cson
layout: 'deck_slides_img'
images: 'unit_170'
title: "Ambiguity"
description: "What is the source of ambiguity in natural languages?  Depicts two structures for Groucho Marx' utterance 'I shot an elephant in my pyjamas'."
tags: ['syntax']
depends: ['unit_151']
source: ['ph126 fastlecture 02']
duration: 6
---
