---cson
layout: 'deck_slides_img'
title: "Proof Example: ¬(P∨Q) therefore ¬P∧¬Q"
description: "Describes how to prove ¬(P∨Q) therefore ¬P∧¬Q."
tags: ['proof','revision','proof-example']
depends: ['']
source: ['ph126 lecture 08']
duration: 9
sequence: 580
---
