---cson
layout: 'deck_slides_img'
title: "Tonk"
description: "Describes rules for a new connective, Tonk.  This is relevant to questions about meaning and use."
tags: ['semantics','proof'] 
depends: []
source: ['ph126 lecture 10']
duration: 3
book: []
exercises: []
exercises_fast: []
---
