---cson
layout: 'deck_slides_img'
title: "Revision: ∀Elim, ∃Intro"
description: "Summary of two rules of proof, ∀Elim and ∃Intro."
tags: ['proof'] 
depends: ['800', '801']
source: ['ph126 lecture 10']
duration: 2
exercises: []
exercises_fast: []
sequence: 610
---
