---cson
layout: 'deck_slides_img'
title: "Defining Relations Using Dot-Arrow Diagrams"
description: "Describes how to use dot-arrow diagrams to define relations."
tags: ['relations']
depends: ['120','125']
source: ['ph126 lecture 11']
duration: 6
book: []
exercises: []
exercises_fast: []
---

