---cson
layout: 'deck_slides_img'
images: 'unit_111'
title: "Formal Proof"
description: "Explains that Fitch is a formal (non-sematic) system of proof by highlighting an incorrect use of =Elim."
tags: ['proof']
depends: ['unit_11']
source: ['ph126 lecture 03']
duration: 3
sequence: 270
---
