---cson
layout: 'deck_slides_img'
title: "Summary of Relations"
description: "Quick summary definition of reflexive, symmetric and transitive."
tags: ['relations']
depends: ['120','125']
source: ['ph126 lecture 11']
duration: 3
book: []
exercises: []
exercises_fast: []
sequence: 780
---

