---cson
layout: 'deck_slides_img'
title: "¬, ⊥"
description: "Quick introduction to two connectives, ¬ and ⊥, together with illustration of rules of proof for ⊥."
tags: ['proof']
depends: ['']
source: ['ph126 lecture 05']
duration: 7
sequence: 320
---
