---cson
layout: 'deck_slides_img'
images: 'unit_04'
title: "Counterexamples"
description: "Explains the notion of a counterexample."
tags: ['definitions']
depends: ['unit_03']
source: ['ph126 lecture 01']
---
